node_modules/
*.log
verify_orig/
verify_clean/
__pycache__/
*.safetensors
*.bin
*.pt
lume_hybrid_weights/
wandb/
results_*/
.DS_Store
.vscode/
.idea/
*.egg-info/
.python-version
.env
tokenizer_files/
